classes
*.class
gensrc
eclipsebin
.DS_Store
.idea/
rebel.xml
.project
target
/bin/
resources/beans.xsd
resources/items.xsd
platformhome.properties
extensioninfo.xsd
build.xml
resources-lang/touch_impexgen
**/*-testclasses.xml
**/*-webtestclasses.xml
Generated*.java
idea-module-files/
beans.xsd
items.xsd
out/
lib/
yarn.lock
node_modules/.yarn-integrity

# Platform

hybris/bin/platform/tomcat/conf
hybris/config/
hybris/data/
hybris/log/
hybris/roles/
hybris/temp/
hybris/bin/ext-*
hybris/bin/modules/
hybris/bin/platform


# Hybris ZIP contents that we don't need

/build-tools
/c4c-integration
/hybris-Mobile-Apps-SDK
/hybris-ems
/hybris-sbg
/licenses
/hybris\.zip
/README

# Installer preserve custom.properties and recipe files

installer/*
!installer/recipes/
!installer/customconfig/
installer/recipes/*
installer/customconfig/*
!installer/recipes/b2c_concerttours/
!installer/customconfig/custom.properties

# Addon project.properties

hybris/bin/custom/*addon/project.properties

